<div class="row">
  <div class="col-lg-12 text-center">
    <h1>About Us</h1>
    <p class="lead">Protigie Web Development uses Ruby on Rails to develop responsive web applications. </p>
   
  </div>
</div>
