<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Contact Us</h1>
    <p class="lead">Please fill out the form below and we will get back to you.</p>
  </div>
  <%= render 'pages/mailer' %>
</div>
