<div class="row">
  <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
<div class="jumbotron">
  <h1>Welcome to Protigies Project1</h1>
  <p>Awesome applications built with Rails!</p>
  <p></p>
</div>

       


    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">


        <!-- Blog Categories Well -->


        <!-- Side Widget Well -->
       

    </div>

</div>
<!-- /.row -->

<hr>
